html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #202020;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #736bae;
    &:hover {
        text-decoration: underline;
    }
}

ul,
li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    li {
        color: #000;
        padding-left: 10px;
        span {
            padding-left: 10px;
        }
        &:first-child {
            padding: 0;
        }
    }
    .breadcrumbs-active {
        color: #202020;
    }
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.content {
    ul {
        padding-left: 20px;
        line-height: 1.8em;
        li {
            list-style: outside;
        }
    }
    ol {
        padding-left: 20px;
        li {
            list-style: decimal;
        }
    }
}
.subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #202020;
}

.h2-bold {
    font-weight: bold;
    font-size: 25px;
}

.no-marker li {
    background-repeat: no-repeat;
    padding-left: 0;
    padding-bottom: 25px;
    margin-left: 0;
    text-align: left;
    font-size: 15px;
    color: #000000;
}

.description-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
}

.btn-black {
    text-align: center;
    padding: 16px 50px;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    background: #202020;
    border-radius: 50px;
    transition: all ease 0.15s;
    text-decoration: none!important;
    user-select: none;
}

.btn-black:hover {
    background: #202015;
}

.btn-gold {
    text-align: center;
    padding: 16px 50px;
    color: #202020;
    background: #736bae;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    border-radius: 50px;
    border: none;
    transition: all ease 0.15s;
    text-decoration: none!important;
    user-select: none;
}

.btn-gold:hover {
    background: #754dad;
}

.works-list-open {
    position: relative;
    ul {
        padding-top: 15px;
        padding-left: 25px;
        li {
            display: flex;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            &::before {
                content: "";
                width: 15px;
                height: 20px;
                margin-top: 0px;
                padding-right: 30px;
                display: block;
                background: url(../img/marker-gold.svg) no-repeat;
            }
        }
    }
    .works-list-open-bg {
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba(226, 226, 226, 0.3);
        opacity: 0.5;
    }
}

.bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    opacity: 0.5;
    border: 1px solid #ffffff;
}

.breadcrumb {
    display: flex;
    padding-left: 0;
    li {
        a {
            color: #000;
            transition: 0.3ms;
            text-decoration: none;
            &::after {
                content: "/";
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .active {
        color: #754dad;
    }
}