html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #202020;
}

 a{
    display: inline-block;
    text-decoration: none;
    color: #202020;
}

ul,
li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs {
    display: flex;
    li {
        color: #000;
        padding-left: 10px;
        span {
        padding-left: 10px;
        }
        &:first-child {
            padding: 0;
        }
    }
    .breadcrumbs-active {
        color: #202020;
    }
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #202020;
}

.no-marker li {
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-bottom: 25px;
    margin-left: 0;
    text-align: left;
    font-size: 15px;
    color: #000000;
}

.description-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
}

.btn-black {
    padding: 16px 50px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #202020;
    border-radius: 50px;
}

.btn-gold {
    padding: 16px 50px;
    color: #202020;
    background: $gold;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    border-radius: 50px;
}

.works-list-open {
    position: relative;

    ul {
        padding-top: 15px;
        padding-left: 25px;

        li {
            background-image: url(../img/marker-gold.svg);
            font-size: 15px;
            line-height: 18px;
            color: #000000;
        }
    }

    .works-list-open-bg {
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba(226, 226, 226, 0.3);
        opacity: 0.5;
    }

}

.bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.5;
    border: 1px solid #FFFFFF;
}