@media all and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 940px;
    }
    .nav-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
}

@media all and (max-width: 1280px) {
    .top-rocket {
        display: none;
    }
    .with-us-roket {
        display: none;
    }
    .price-promotion__wrapper {
        justify-content: center;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 708px;
    }
}

@media all and (max-width: 1024px) {
    .top-bar {
        display: none;
    }
    .header-wrapper {
        display: none;
    }
    .mob-header {
        display: block;
    }
    .question-seo__wrapper {
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .description-seo__list {
        justify-content: center!important;
    }
    .important-seo__list {
        justify-content: center!important;
    }
    .seo-nuances__wrapper {
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .important-seo .important-seo__list {
        margin-top: 30px;
    }
    .important-seo .important-seo__conclusion {
        margin-top: 40px;
    }
    .with-us .with-us__wrapper {
        padding-top: 30px;
    }
    .important-developer {
        .important-developer__wrapper {
            .important-developer__left {
                display: none;
            }
        }
    }
    .developer-price {
        .developer-price__wrapper {
            justify-content: center;
            .developer-price__item {
                margin: 20px;
            }
        }
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .container{
        max-width: 100%;
        margin: 0 15px;
    }
}

@media all and (max-width: 480px) {
    .container{
        max-width: 100%;
        margin: 0 15px;
    }
    .top-description-wrapper {
        padding-top: 50px;
    }
    .btn-black {
        padding: 10px 20px;
    }
    .btn-gold {
        padding: 10px 20px;
    }
    .top-order {
        margin-top: 10px;
    }
    .subtitle {
        font-size: 28px;
        line-height: 32px;
    }
    .description-seo .description-seo__conclusion  {
        margin-top: 20px;
    }
    .with-us .with-us__wrapper  {
        padding-top: 0px;
    }
    .stages-development {
        .stages-development__wrapper {
            justify-content: center;
            .stages-development__item {
                margin-top: 20px;
            }
        }
    }
    .adv-developer__wrapper {
        justify-content: center;
    }
    .important-developer__left {
        display: none;
    }
}