@media all and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 95%;
    }
    .nav-header {
        width: 100%;
        display: flex;
    }
    .question-seo__wrapper .question-seo__block {
        max-width: 48%;
    }
}

@media all and (max-width: 1280px) {
    .top-rocket {
        display: none;
    }
    .with-us-roket {
        display: none;
    }
    .price-promotion__wrapper {
        justify-content: center;
    }
    .top-advertising {
        display: none;
    }
    .top-description-img {
        display: none;
    }
    .top-description-wrapper__site-card
        .top-description-wrapper__site-card_top
        .top-description-wrapper__site-card__left {
        width: 100%;
    }
    .card-adaptive__right {
        display: none;
    }
    .card-adaptive .card-adaptive__wrapper .card-adaptive__left {
        width: 100%;
    }
    .process-developer__wrapper {
        .process-developer__item {
            margin-top: 20px;
        }
    }
    .price-promotion__item {
        margin-top: 20px;
    }
    .description-seo__list-item {
        margin-top: 20px;
    }
    .oreder-seo-audit__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .home-top-block {
        background: none;
    }
    .about-img {
        display: none;
    }
    .about-img2 {
        display: block;
    }
    .post-text img {
        height: auto;
        max-width: 100%;
    }
    .top-bar__phone {
        margin-left: 20px;
    }
    .top-bar__nav-menu .city-top {
        margin-right: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 708px;
    }
}

@media all and (max-width: 1024px) {
    .top-bar {
        display: none;
    }
    .header-wrapper {
        display: none;
    }
    .mob-header {
        display: block;
    }
    .question-seo__wrapper {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .description-seo__list {
        justify-content: center !important;
    }
    .important-seo__list {
        justify-content: center !important;
    }
    .important-seo .important-seo__list {
        margin-top: 30px;
    }
    .important-seo .important-seo__conclusion {
        margin-top: 40px;
    }
    .with-us .with-us__wrapper {
        padding-top: 30px;
    }
    .important-developer {
        .important-developer__wrapper {
            .important-developer__left {
                display: none;
            }
        }
    }
    .developer-price__wrapper {
        justify-content: center;
        .developer-price__item {
            margin: 20px;
        }
    }
    .context-price {
        justify-content: center;
        .context-price__item {
            margin: 20px;
        }
    }
    .kinds__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .kinds__item {
            margin-top: 35px;
            max-width: 380px;
            .kings__item-title {
                margin-top: 10px;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #ffffff;
            }
            .kings__item-description {
                margin-top: 5px;
                font-size: 13px;
                line-height: 1.6em;
                letter-spacing: 0.05em;
                color: #ffffff;
            }
        }
    }
    .advantages-ordering__wrapper {
        justify-content: center;
        .advantages-ordering-block {
            max-width: 100%;
        }
        .advantages-ordering__right {
            display: none;
        }
    }
    .advertising-basics {
        .advertising-basics__wrapper {
            justify-content: center;
            .advertising-basics_block {
                .advertising-basics_block-title {
                }
                .advertising-basics_block-subtitle {
                    margin-top: 5px;
                }
                .advertising-basics_block-description {
                    margin-top: 15px;
                }
            }
            .advertising-basics__right {
                margin-top: 20px;
            }
        }
    }
    .why-advertising .why-advertising__title-btn {
        margin-top: 50px;
    }
    .advertising-goals .advertising-goals__subtitle {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .top-card-order {
        .top-card-order__bg {
            max-width: 420px;
            margin: 0 auto;
            .top-card-order__wrapper {
                padding: 0;
                flex-direction: column;
                .top-card-order__item {
                    .top-card-order__item-title {
                        text-align: center;
                    }
                    .top-card-order__item-price {
                        text-align: center;
                    }
                    .top-card-order__item-btn {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
    .process-developer__wrapper {
        justify-content: center;
    }
    .audit-options__item-left img {
        display: none;
    }
    .home-top-block__right {
        display: none;
    }
    .home-seo__right {
        display: none;
    }
    .home-context__description__right {
        display: none;
    }
    .about-certificates__wrapper {
        justify-content: center;
        .about-certificates__item {
            margin-top: 20px;
        }
    }
    .modal-body {
        .sd-city-items {
            column-count: 3;
        }
    }
    .blog-wrapper {
        .blog-post {
            flex: 0 0 49%;
            max-width: 49%;
        }
    }
    .post-text .post-img {
        display: none;
    }
    .title-post-blog {
        padding-top: 50px;
    }
    .about-photo {
        .about-img2 {
            display: none;
        }
    }
    .home-abaout__wrapper {
        flex-direction: column;
        .left {
            margin-top: 0;
            width: 100%;
        }
        .right {
            width: 100%;
        }
    }
    .insta-abaout .right {
        display: none;
    }
    .insta-abaout .left {
        width: 100%;
    }
    .services-insta_item {
        width: 200px;
    }
    .blog-wrapper {
        .preview-case {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media all and (max-width: 768px) {
    .item-head {
        margin-top: 4rem;
    }
    .top-description-contact__wrapper {
        .row {
            justify-content: center;
            .top-description-contact__item {
                margin-top: 30px;
                .top-description-contact__item-description {
                    margin-top: 10px;
                }
                .top-description-contact__item-description-phone {
                    margin-top: 10px;
                }
            }
        }
    }
    .modal-body {
        .sd-city-items {
            column-count: 2;
        }
    }
    .wrapper-post-content-end {
        flex-direction: column;
    }
    .home-abaout__wrapper {
        .img-about-home-1 {
            display: none;
        }
    }
    .step-direct__row {
        .step-direct__row-img {
            display: none;
        }
        .step-direct__row-description {
            width: 100%;
        }
    }
    .services-insta_item {
        flex: 1 1 calc(50% - 50px);
        margin-bottom: 30px;
        margin-right: 20;
    }
    .services-insta_item:nth-child(2n) {
        margin-right: 0;
    }
}
@media all and (min-width: 480px) and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media all and (max-width: 480px) {
    .container {
        max-width: 100%;
        margin: 0 15px;
    }
    .top-description-wrapper {
        padding-top: 50px;
    }
    .btn-black {
        padding: 15px 25px;
    }
    .btn-gold {
        padding: 15px 25px;
    }
    .top-order {
        margin-top: 10px;
    }
    .subtitle {
        font-size: 28px;
        line-height: 32px;
    }
    .description-seo .description-seo__conclusion {
        margin-top: 20px;
    }
    .with-us .with-us__wrapper {
        padding-top: 0px;
    }
    .stages-development {
        .stages-development__wrapper {
            justify-content: center;
            .stages-development__item {
                margin-top: 20px;
            }
        }
    }
    .adv-developer__wrapper {
        justify-content: center;
    }
    .important-developer__left {
        display: none;
    }
    .important-developer {
        margin-top: 100px;
        .important-developer__wrapper {
            padding: 30px 0 45px 0;
            border: 5px solid #f4b92f;
            display: flex;
            .important-developer__right {
                margin: 0 25px;
                .important-developer__right_bottom {
                    margin-top: 30px;
                }
            }
        }
    }
    .advertising-basics_block-img {
        display: none;
    }
    .kinds-title {
        margin: 0;
    }
    .advertising-goals {
        padding: 10px 0 20px 0;
    }
    .footer__block__item-title-contact {
        margin-top: 30px;
    }
    .developer-price__wrapper {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .question-smm .question-smm__item {
        margin-top: 20px;
    }
    .price-instagram .price-instagram_bold {
        margin: 0;
    }
    .advantages-ordering__wrapper .advantages-ordering__left {
        padding-top: 20px;
    }
    .tabs-head {
        margin: 0rem 0 4rem;
    }
    .question-smm {
        padding: 20px 0 45px 0;
    }
    #toTop {
        right: 20px;
    }
    .audit__wrapper h3::before {
        padding: 0;
        display: none;
    }
    .card-start__wrapper {
        margin-top: 50px;
    }
    .about-certificates__wrapper .about-certificates__item img {
        max-width: 325px;
    }
    .slider {
        img {
            max-width: 325px;
        }
    }
    .seo-nuances__wrapper {
        display: flex;
        flex-direction: column;
    }
    .modal-body {
        .sd-city-items {
            column-count: 1;
        }
    }
    .blog-wrapper {
        .blog-post {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .post-text img {
        display: none;
    }
    .post-text .wrapper-nav-page {
        width: 100%;
    }
    .title-blog-categori {
        padding-top: 80px;
        padding-bottom: 20px;
        margin: 0;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .slider {
        .slide {
            margin: 0;
            a {
                height: 400px;
            }
        }
    }
    .insta-abaout .left {
        margin-top: 0;
    }
    .phone-wrapper {
        margin-top: 30px;
    }
    .faq_item_title_inner-seo {
        font-size: 21px;
    }
    .blog-post__wrapper {
        .preview-case__img {
            height: 210px;
        }
    }
}
