@import "vars";
@import "libs";
@import "fonts";
@import "global";

body .lock {
    overflow: hidden;
}

header {
    position: relative;
    background: linear-gradient(100.49deg, #F4B92F 63.25%, #FBCF56 98.17%);
}

.top-bar {
    height: 75px;
    background: #171717;

    a {
        color: #fff;
    }
}

.top-bar__wrapper {
    display: flex;
    justify-content: space-between;
}

.top-bar__left-block {
    display: flex;
    align-items: center;
}

.top-bar__right-block {
    display: flex;
    align-items: center;
}

.top-bar__logo img {
    padding-top: 10px;
}

.top-bar__ic-messages {
    display: block;
    width: 25px;
    height: 25px;
}

.top-bar__ic-social {
    display: block;
    width: 35px;
    height: 25px;
}

.top-bar__messages i {
    margin-left: 10px;
}

.top-bar__messages {
    display: flex;
    margin-left: 40px;
}

.top-bar__phone {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.top-bar__social {
    margin-left: 65px;
}

.top-bar__nav-menu {
    display: flex;

    li {
        padding-left: 15px;
    }
}

.i-phone {
    background: url(../img/call.png) no-repeat top left;
    margin-right: 10px;
}

.i-whatsapp {
    background: url(../img/whatsapp.png) no-repeat top left;
}

.i-telegram {
    background: url(../img/telegram.png) no-repeat top left;
}

.i-viber {
    background: url(../img/viber.png) no-repeat top left;
}

.i-inst {
    background: url(../img/instagram.png) no-repeat top left;
}

.i-vk {
    background: url(../img/vk.png) no-repeat top left;
}

.top-bar__call-back {
    display: flex;
    margin-left: 16px;
    border: 1px solid #FDD45E;
    border-radius: 50px;

    a {
        padding: 14px 22px;
    }
}

.nav-header {
    display: flex;
    max-width: 520px;
    padding-top: 33px;

    li {
        padding-left: 28px;
        font-size: 20px;
        line-height: 23px;
        color: #202020;

        &:first-child {
            padding: 0;
        }
    }
}

/* Начало мобильного меню */
.hamburger-menu {
    margin-right: 30px;
}
.menu__btn {
    padding-bottom: 20px;
}
.mob-menu__wrapper {
    height: 40px;
    display: flex;
    align-items: center;
}
.mob-header {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #F5F2F2;
}
.mob-header-messages {
    display: block;
    width: 14px;
    height: 14px;
}
.mob-header__contact-phone {
    display: flex;
}
.i-phone-mob {
    background: url(../img/call-mob.svg) no-repeat top left;
    margin-right: 10px;
}
.mob-header__messages {
    display: flex;
    
}
.mob-header__messages {
    margin-left: 20px;
}
.i-whatsapp-mob {
    background: url(../img/whatsapp-mob.svg) no-repeat top left;
    margin-right: 10px;
}
.i-telegram-mob {
    background: url(../img/telegram-mob.svg) no-repeat top left;
    margin-right: 10px;
}
.i-viber-mob {
    background: url(../img/viber-mob.svg) no-repeat top left;
    margin-right: 10px;
}
.logo-mob__wrapper {
    margin-left: auto;
    margin-right: 0;
}
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    list-style: none;
    text-align: center;
    background-color: $gold;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.mob-nav-contact__nav__wrapper {
    position: relative;
    height: 100%;
    margin-top: 15px;
    padding-top: 10px;
    .mob-nav-contact__nav-item {
        position: relative;
        color: #fff;
        z-index: 30;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
        a {
            color: #fff;
        }
    }
    .menu__box__contact {
        margin: 0 auto;
        text-align: left;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        z-index: 20;
        position: relative;
        .menu__box-phone {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 22px;
            line-height: 15px;
            color: #FFFFFF;
            font-weight: bold;
        }
        .menu__box__info {
            font-style: normal;
            font-weight: normal;
            margin-top: 10px;
            line-height: 11px;
            color: #FFFFFF;
            font-size: 13px;
        }
        .top-bar__social {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

.mob-nav-contact__nav__wrapper:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #171717;
}

.mob-top-bar__call-back {
    position: relative;
    z-index: 999;
    border: 1px solid #FDD45E;
    border-radius: 50px;
    margin: 0 20px;
    margin-top: 15px;
    a {
        color: #fff;
        padding: 10px 0;
    }
}
/* элементы меню */
.menu__item {
    padding-top: 10px;
    padding-bottom: 2px;
    display: block;
    font-size: 23px;
    line-height: 23px;
    color: #202020;
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid rgba(245, 242, 242, 0.2);
}

.menu__item:hover {
    color: #000;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/* Конец мобильного меню */

.wrapper-background {
    // z-index: 5;
    // height: 920px;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // background: url(../img/bgwrapper.svg); 
    // background-size: cover;
    background: linear-gradient(100.49deg, #F4B92F 63.25%, #FBCF56 98.17%);
    height: 750px;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.top-rocket {
    position: absolute;
    top: 0;
    right: 0;
}

.top-description {
    z-index: 10;
    position: relative;
}

.top-description-wrapper {
    
    display: flex;
    flex-direction: column;
    max-width: 650px;

    h1 {
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        color: #202020;
    }

    p {
        margin-top: 11px;
        font-weight: normal;
        font-size: 18px;
        color: #202020;
    }

    .top-order {
        margin-top: 65px;
    }
}
.top-description-wrapper__context {
    padding: 100px 0;
}
.top-description-wrapper__seo {
    padding-top: 150px;
}
.top-description-wrapper__developer {
    padding-top: 100px;
    padding-bottom: 49px;
}

.price-promotion {
    position: relative;
    margin-top: 100px;
}

.price-promotion__wrapper {
    z-index: 500;
    position: relative;
    margin: 0 auto;
    max-width: 1086px;
    display: flex;
    flex-wrap: wrap;
}

.price-promotion {
    background: #000;
    padding-bottom: 100px;
}

.price-promotion__item {
    display: flex;
    background: #fff;

    .price-promotion__item-wrapper {
        padding: 25px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .price-promotion__item__title {
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
        }

        .price-promotion__item__list-services {
            margin-top: 35px;

            li {
                background-image: url(../img/marker.svg);
            }
        }

        .price-promotion__item__price {
            margin-top: 48px;
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
        }

        .price-promotion__item__order {
            margin-top: 48px;
            display: block;

            a {
                background: $gold;
                border-radius: 50px;
                padding: 12px 72px;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #202020;
            }
        }
    }

    .price-promotion__item-center {
        background: #202020;
        ;

        .price-promotion__item__title {
            color: $gold;
        }

        .price-promotion__item__list-services {
            li {
                color: #fff;
            }
        }

        .price-promotion__item__price {
            color: #fff;
        }
    }
}

.description-seo {
    background: linear-gradient(100.49deg, #F4B92F 63.25%, #FBCF56 98.17%);

    .description-seo__title {
        padding-top: 41px;
        margin-top: 0;
    }

    .description-seo__description {
        margin-top: -11px;
        margin-bottom: 46px;
        text-align: center;
    }

    .description-seo__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .description-seo__list-item__title {
            margin-top: 22px;
        }

        .description-seo__list-item {
            max-width: 360px;
            position: relative;
            .description-seo__list-item__wrapper {
                position: relative;
                z-index: 999;
                padding: 20px;
            }
            .description-seo__list-item-bg {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(255, 255, 255, 0.3);
                opacity: 0.5;
                border: 1px solid #FFFFFF;
            }

            .description-seo__list-item__description {
                margin-top: 18px;
                color: #000000;
            }

            .description-seo__list-item__icon {
                .percent {
                    font-size: 55px;
                    line-height: 64px;
                    color: #000000;
                }
            }
        }
    }

    .description-seo__conclusion {
        text-align: center;
        margin-top: 100px;
        font-weight: bold;
        font-size: 20px;
        color: #000000;
    }

    .description-seo__order {
        margin-top: 45px;
        padding-bottom: 45px;
        text-align: center;
    }
}

    .question-seo__wrapper {
        display: flex;
        justify-content: space-between;

        .question-seo__block {
            max-width: 500px;

            ul {
                margin-top: 20px;
            }
        }

        .question-seo__left-block {
            .question-seo__nav-left li {
                background-image: url(../img/marker-green.svg);
            }
        }

        .question-seo__right-block {
            .question-seo__nav-righ li {
                background-image: url(../img/marker-red.svg);
            }
        }

        .question-seo__title {
            margin-top: 20px;
        }
    }

.important-seo {
    background: #171717;

    .important-seo__title {
        padding-top: 60px;
        color: #fff;
        margin-bottom: 20px;
    }

    .important-seo__description {
        display: block;
        color: #fff;
        text-align: center;
    }

    .important-seo__list {
        margin-top: 95px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .important-seo__list-item {
            width: 380px;

            .important-seo__list-item__title {
                font-weight: bold;
                font-size: 55px;
                line-height: 64px;
                color: $gold;
            }

            .important-seo__list-item__subtitle {
                margin-top: 15px;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }

            .important-seo__list-item__description {
                margin-top: 15px;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
            }
        }

    }

    .important-seo__conclusion {
        display: block;
        text-align: center;
        margin-top: 110px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }

    .important-seo__order {
        text-align: center;
        margin-top: 38px;
    }

    .important-seo__result {
        display: block;
        text-align: center;
        margin-top: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding-bottom: 58px;
    }
}

.list-works {
    .list-works__title {
        margin-bottom: 76px;
    }

    .list-works__wrapper {
        .list-works__item-title {
            display: block;
            margin-top: 25px;
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;

        }

        .list-works__item-description {
            display: block;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
        }
    }
}

.list-works__item__btn-wrapper {

    span {
        padding: 8px 30px;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        background: #3A3838;
        border-radius: 10px;
    }
}

.with-us {
    position: relative;
    background: #171717;

    .with-us__title {
        margin: 0;
        padding-top: 60px;
        color: #fff;
    }

    .with-us__wrapper {
        position: relative;
        padding-top: 75px;

        .with-us__item {
            margin-top: 25px;
            max-width: 455px;

            .with-us__item__title {
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #FFFFFF;
            }

            .with-us__item__description {
                margin-top: 15px;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
            }
        }

        .with-us__right-block img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .with-us__ready-work {
        margin-top: 85px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }

    .with-us__order {
        margin-top: 28px;
        text-align: center;
    }

    .with-us__information-ssessment {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }
}

.seo-nuances__wrapper {
    display: flex;
    justify-content: space-between;

    .seo-nuances__item {
        max-width: 580px;
        margin-top: 25px;

        .seo-nuances__item-title {
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #202020;
        }

        .seo-nuances__item-description {
            margin-top: 15px;
            font-weight: normal;
            color: #202020;
        }
    }
}

// Разработка
.img-top-developer {
    top: 30px;
}
.developer-price {
    .developer-price__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .developer-price__item {
            max-width: 300px;
            border: 3px solid rgba(244, 185, 47, 0.5);
            box-sizing: border-box;
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
            .developer-price__item__wrapper {
                margin: 50px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .developer-price__item-title {
                    margin-top: 20px;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 29px;
                    color: #202020;
                }
                .developer-price__item-title_description {
                    margin-top: 8px;
                    font-size: 15px;
                    line-height: 18px;
                    color: #171717;
                }
                .developer-price__item-price {
                    margin-top: 12px;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    color: #000000;
                }
                .developer-price__item-description {
                    margin-top: 18px;
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 0.05em;
                    color: #202020;
                }
                .btn-developer {
                    margin-top: 65px;
                    background: #F4B92F;
                    border-radius: 50px;
                    font-size: 18px;
                    color: #202020;
                    padding: 10px 65px;
                }
            }      
        }
    }
    .developer-price__order {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}
.stages-development {
    margin-top: 50px;
    padding: 50px 0;
    background: linear-gradient(100.14deg, #F4B92F 49.22%, #FDD45E 98.19%);
    .tages-development__subtitle {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        color: #202020;
    }
    .stages-development__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .stages-development__item {
            margin-top: 10px;
            max-width: 300px;
            .stages-development__item-step {
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: #000000;
            }
            .stages-development__item-title {
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: #000000;
                margin: 10px 0;
            }
            .stages-development__item-description {
                font-size: 15px;
                line-height: 18px;
                color: #000000;
            }
        }
    }
}
.adv-developer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .adv-developer__item {
        margin-top: 70px;
        max-width: 300px;
        .adv-developer__item-title {
            margin-top: 12px;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
        }
        .adv-developer__item-description {
            margin-top: 10px;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
        }
    }
}
.important-developer {
    margin-top: 100px;
    .important-developer__wrapper {
        padding: 60px 0 45px 0;
        border: 5px solid #F4B92F;
        display: flex;
        .important-developer__right {
            margin: 0 65px;
            .important-developer__right-title  {
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 20px;
            }
            .important-developer__right_top-title {
                color: #E30A0A;
            }
            .important-developer__right_bottom {
                margin-top: 65px;
                .important-developer__right_bottom-title {
                    color: $gold;
                }
                .important-developer__right_bottom-description {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 23px;
                    color: #202020;
                }
            }
            .btn-gold {
                margin-top: 35px;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: #FFFFFF;
            }
        }
    }
}

.site-description {
    margin-top: 150px;
    padding: 40px 0;
    background: linear-gradient(100.14deg, #F4B92F 49.22%, #FDD45E 98.19%);
    .site-description__title {
        margin: 0;
    }
    .site-description__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .site-description__item {
            margin-top: 50px;
            position: relative;
            max-width: 620px;
            .site-description__item__wrapper {
                position: relative;
                z-index: 999;
                padding: 30px 20px;
                color: #202020;
                .site-description__item-title {
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 29px;
                    margin-bottom: 12px;
                }
                .site-description__item-description {
                }
                .suitable-for {
                    margin-top: 12px;
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 29px;
                }
                .site-description__item-list li {
                    background-repeat: no-repeat;
                    padding-left: 35px;
                    margin-bottom: 6px;
                    margin-left: 0;
                    text-align: left;
                    font-size: 15px;
                    background-image: url(../img/marker-white.svg);
                    color: #000;
                }
                .site-description__item-btn {
                    margin-top: 25px;
                    border: 1px solid #FFFFFF;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    padding: 15px 0;
                    font-size: 20px;
                    line-height: 23px;
                    color: #000000;
                    text-transform: uppercase;
                }
            }
        }
    }
    .good-site {
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #202020;
    }
    .site-description__btn {
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }
}
// Страница рекламы
.top-advertising {
    position: absolute;
    top: 50px;
    right: 115px;
}
.kinds {
    background: #171717;
    padding: 60px 0;
}
.kinds-title {
    color: #fff;
    margin-bottom: 75px;
}
.kinds__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .kinds__item {
        max-width: 380px;
        .kings__item-title {
            margin-top: 15px;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
        }
        .kings__item-description {
            margin-top: 10px;
            font-size: 13px;
            line-height: 1.6em;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
    }
}
.advertising-basics {
    padding: 40px 0 80px 0;
    .advertising-basics__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .advertising-basics_block {
            max-width: 600px;
            .advertising-basics_block-title {
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #202020;
            }
            .advertising-basics_block-subtitle {
                margin-top: 15px;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: #202020;
            }
            .advertising-basics_block-description {
                margin-top: 20px;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.05em;
                color: #202020;
            }
        }
    }
}
.why-advertising {
    padding: 60px 0 40px 0;
    background: #171717;
    .why-advertising__title-btn {
        display: block;
        margin-top: 140px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .why-advertising_order {
        margin-top: 40px;
        text-align: center;
    }
    .why-advertising__title-description {
        display: block;
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
}
.advertising-goals {
    padding: 80px 0 100px 0;
    background: #171717;
    .advertising-goals__title {
        color: #fff;
    }
    .advertising-goals__description {
        margin: 0 auto;
        max-width: 1100px;
        span {
            color: #fff;
        }
    }
    .advertising-goals__subtitle {
        display: block;
        margin-top: 65px;
        margin-bottom: 75px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;
    }
}
.advantages-ordering {
    position: relative;
    .advantages-ordering__wrapper {
        display: flex;
        justify-content: space-between;
        .advantages-ordering-block {
            max-width: 50%;
        }
        .advantages-ordering__left {
            .advantages-ordering__left-title {
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #202020;
            }    
        }
        .advantages-ordering__right img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.popup {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        .popup__content {
            background-color: #fff;
            color: #000;
            max-width: 500px;
            height: 100%;
            padding: 30px;
            position: relative;

            .popup__test {
                display: flex;
                flex-direction: column;
            }

            .popup__title {
                text-align: center;
                font-size: 32px;
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
                color: #202020;
            }

            .popup__close {
                position: absolute;
                right: 15px;
                top: 15px;

                i {
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../img/btn-close.svg) no-repeat top left;
                }
            }
        }
    }
}

.input {
    position: relative;
    padding: 15px 20px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 10px;

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }
}

.textarea {
    position: relative;
    z-index: 1;

    textarea {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 15px;
        font-weight: normal;
        line-height: 28px;
        color: #C5C5C5;
        border: 1px solid #C5C5C5;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 15px;
        padding-top: 15px;
        outline: none;
        color: #000;
    }
}

.btn-success {
    margin-top: 15px;
    padding: 15px 0;
    background: #F4B92F;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    line-height: 28px;
    color: #202020;
    text-transform: uppercase;
}

.fqa {
    background: $gold;

    .fqa__title {
        padding-top: 40px;
    }
}

.description-popup {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #C5C5C5;
    text-align: center;
}

.icon-user {
    background: url(../img/user.svg) no-repeat top left;
}

.icon-phone {
    background: url(../img/telephone.svg) no-repeat top left;
}

.icon-comment {
    margin-top: 30px;
    background: url(../img/comment.svg) no-repeat top left;
}

.icon-popup {
    z-index: 10;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    right: 0;
    margin-right: 10px;
}

.open {
    opacity: 1;
    visibility: visible;

    .popup__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
}

.faq_list {
    position: relative;
}

.faq_item {}

.faq_item_title {
    position: relative;
}

.faq_item_title-seo {
    margin-top: 10px;
    border-left: 4px solid rgba(32, 32, 32, 0.5);
}

.faq_item_title_inner {
    display: inline-block;
    position: relative;
    padding: 15px;
    cursor: pointer;
    border-bottom: 2px solid rgba(245,242,242,0.2);
    width: 100%;
}

.faq_item_title_inner-seo {
    font-size: 25px;
    line-height: 29px;
    color: #202020;
}

.faq_item_title_inner:hover:before {
    transform: translateY(1px);
}

.faq_item_title_bg {
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.5;
    padding: 20px 0 20px 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.faq_item_title_inner.open:before {
    transform: rotate(180deg);
}

.faq_item_body {
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    display: none;
    border-left: 4px solid #C5C5C5;
    .faq_item_body-item {
        padding: 10px;
        position: relative;
        p {
            color: #000;
        }
    }
}

@import "media";