@import "vars";
@import "libs";
@import "fonts";
@import "global";

body .lock {
    overflow: hidden;
}

header {
    position: relative;
    z-index: 999;
}

.top-bar {
    height: 75px;
    background: #171717;
    a {
        color: #fff;
    }
}
.top-bar__wrapper {
    display: flex;
    justify-content: space-between;
}
.top-bar__left-block {
    display: flex;
    align-items: center;
}
.top-bar__right-block {
    display: flex;
    align-items: center;
}
.top-bar__logo img {
    padding-top: 10px;
}
.top-bar__ic-messages {
    display: block;
    width: 25px;
    height: 25px;
}
.top-bar__ic-social {
    display: block;
    width: 35px;
    height: 25px;
}
.top-bar__messages i {
    margin-left: 10px;
}
.top-bar__messages {
    display: flex;
    margin-left: 40px;
}
.top-bar__phone {
    display: flex;
    align-items: center;
    margin-left: 65px;
}
.top-bar__social {
    margin-left: 65px;
}
.top-bar__nav-menu {
    display: flex;
    li {
        padding-left: 15px;
    }
}
.i-phone {
    background: url(../img/call.png) no-repeat top left;
    margin-right: 10px;
}
.i-whatsapp {
    background: url(../img/whatsapp.png) no-repeat top left;
}
.i-telegram {
    background: url(../img/telegram.png) no-repeat top left;
}
.i-viber {
    background: url(../img/viber.png) no-repeat top left;
}
.i-inst {
    background: url(../img/instagram.png) no-repeat top left;
}
.i-vk {
    background: url(../img/vk.png) no-repeat top left;
}
.top-bar__call-back {
    display: flex;
    margin-left: 16px;
    border: 1px solid #FDD45E;
    border-radius: 50px;  
    a {
        padding: 14px 22px;
    }
}

.nav-header {
    display: flex;
    max-width: 520px;
    padding-top: 33px;
    li {
        padding-left: 28px;
        font-size: 20px;
        line-height: 23px;
        color: #202020;
        &:first-child {
            padding: 0;
        }
    }
}

.wrapper-background {
    // z-index: 5;
    // height: 920px;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // background: url(../img/bgwrapper.svg); 
    // background-size: cover;
    background: linear-gradient(100.49deg, #F4B92F 63.25%, #FBCF56 98.17%);
    height: 920px;
    position: absolute;
    width: 100%;
    z-index: 9;
}
.top-rocket {
    position: absolute;
    top: 0;
    right: 0;
}
.top-description {
    z-index: 10;
    position: relative;
}
.top-description-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 650px;
    h1 {
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        color: #202020;
    }
    p {
        margin-top: 11px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #202020;
    }
    .top-order {
        margin-top: 65px;
    }
}
.price-promotion {
    position: relative;
    margin-top: 100px;
}
.price-promotion__wrapper {
    z-index: 10;
    position: relative;
    margin: 0 auto;
    max-width: 1086px;
    display: flex;
}
.price-promotion {
    background: #000;
    padding-bottom: 100px;
    z-index: 9;
}
.price-promotion__item {
    display: flex;
    background: #fff;
    .price-promotion__item-wrapper {
        padding: 25px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .price-promotion__item__title {
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
        }
        .price-promotion__item__list-services {
            margin-top: 35px;
            li {
                background-image: url(../img/marker.svg);           
            }
        }
        .price-promotion__item__price {
            margin-top: 48px;
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
        }
        .price-promotion__item__order {
            margin-top: 48px;
            display: block;        
            a {
                background: $gold;
                border-radius: 50px;
                padding: 12px 72px;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #202020;
            }
        }
    }    
    .price-promotion__item-center {
        background: #202020;;
        .price-promotion__item__title {
            color: $gold;
        }
        .price-promotion__item__list-services {
            li {
                color: #fff;
            }
        }
        .price-promotion__item__price {
            color: #fff;
        }
    }
}

.description-seo {
    background: linear-gradient(100.49deg, #F4B92F 63.25%, #FBCF56 98.17%);
    .description-seo__title {
        padding-top: 41px;
        margin-top: 0;
    }
    .description-seo__description {
        margin-top: -11px;
        margin-bottom: 46px;
        text-align: center;
    }
    .description-seo__list {
        display: flex;
        justify-content: space-between;
        .description-seo__list-item__title {
            margin-top: 22px;
        }
        .description-seo__list-item {
            max-width: 360px;           
            .description-seo__list-item__description {
                margin-top: 18px;
                font-size: 15px;
                line-height: 18px;
                color: #000000;
            }
            .description-seo__list-item__icon {
                .percent {
                    font-size: 55px;
                    line-height: 64px;
                    color: #000000;
                }
            }
        }
    }
    .description-seo__conclusion {
        text-align: center;
        margin-top: 100px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
    }   
    .description-seo__order {
        margin-top: 45px;
        padding-bottom: 45px;
        text-align: center;
    }
}
.question-seo {
    .question-seo__wrapper {
        display: flex;
        justify-content: space-between;
        .question-seo__block {
            max-width: 500px;
            ul {
                margin-top: 20px;
            }
        }
        .question-seo__left-block {
            .question-seo__nav-left li {
                background-image: url(../img/marker-green.svg);
            }
        }
        .question-seo__right-block {
            .question-seo__nav-righ li {
                background-image: url(../img/marker-red.svg);
            }
        }
        .question-seo__title {
            margin-top: 20px;
        }
    }
}
.important-seo {
    background: #171717;
    .important-seo__title {
        padding-top: 60px;
        color: #fff;
        margin-bottom: 20px;
    }
    .important-seo__description {
        display: block;
        color: #fff;
        text-align: center;
    }
    .important-seo__list {
        margin-top: 95px;
        display: flex;
        justify-content: space-between;
        .important-seo__list-item {
            width: 380px;
            .important-seo__list-item__title {
                font-weight: bold;
                font-size: 55px;
                line-height: 64px;
                color: $gold;
            }
            .important-seo__list-item__subtitle {
                margin-top: 15px;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }
            .important-seo__list-item__description {
                margin-top: 15px;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
            }
        }
    
    }
    .important-seo__conclusion {
        display: block;
        text-align: center;
        margin-top: 110px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .important-seo__order {
        text-align: center;
        margin-top: 38px;
    }
    .important-seo__result {
        display: block;
        text-align: center;
        margin-top: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding-bottom: 58px;
    }
}
.list-works {
    .list-works__title {
        margin-bottom: 76px;
    }
    .list-works__wrapper {
        .list-works__item-title {
            display: block;
            margin-top: 25px;
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
            
        }
        .list-works__item-description {
            display: block;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
        }
    }    
}
.with-us {
    position: relative;
    background: #171717;
    .with-us__title {
        padding-top: 60px;
        color: #fff;
    }
    .with-us__wrapper {
        position: relative;
        padding-top: 75px;
        .with-us__item {
            margin-top: 25px;
            max-width: 455px;
            .with-us__item__title {
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #FFFFFF;
            }
            .with-us__item__description {
                margin-top: 15px;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
            }
        }
        .with-us__right-block img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .with-us__ready-work {
        margin-top: 85px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .with-us__order {
        margin-top: 28px;
        text-align: center;
    }
    .with-us__information-ssessment {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }
}
.seo-nuances__wrapper {
    display: flex;
    justify-content: space-between;
    .seo-nuances__item {
        max-width: 580px;
        margin-top: 25px;
        .seo-nuances__item-title {
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #202020;
        }
        .seo-nuances__item-description {
            margin-top: 15px;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #202020;
        }
    }
}

.popup {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        .popup__content {
            background-color: #fff;
            color: #000;
            max-width: 500px;
            height: 410px;
            padding: 30px;
            position: relative;
            .popup__test {
                display: flex;
                flex-direction: column;
            }
            .popup__title {
                text-align: center;
                font-size: 32px;
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
                color: #202020;
            }
            .popup__close {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 20px;
                color: #000;
                text-decoration: none;
            }
        }
    }
}
.input {
    position: relative;
    padding: 15px 20px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 10px;
    input {
        width: 100%;
        height: 100%;
        border: none;
        outline:none;
    }
}
    
.textarea {
    position: relative;
    z-index: 1;
    textarea {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 15px;
        font-weight: normal;
        line-height: 28px;
        color: #C5C5C5;
        border: 1px solid #C5C5C5;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 15px;
        padding-top: 15px;
        outline:none;
        color: #000;
    }   
}
.icon-user {
    background: url(../img/user.svg) no-repeat top left;
}
.icon-phone {
    background: url(../img/telephone.svg) no-repeat top left;
}
.icon-comment {
    margin-top: 30px;
    background: url(../img/comment.svg) no-repeat top left;
}
.icon-popup {
    z-index: 10;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    right: 0;
    margin-right: 10px;
}
.open {
    opacity: 1;
    visibility: visible;
    .popup__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
}
@import "media";
